<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAN guesser</title>
</head>
<body>
    {% for image in images %}
        <div class="imagewrapper">
            <img src="data:image/jpg;base64,{{ image }}">
        </div>
    {% endfor %}

    {% if answer == 1 %}
        <p>{{ answer }}st image is Generated</p>
    {% else %}
        <p>{{ answer }}nd image is Generated</p>
    {% endif %}
</body>
</html>